<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ganlong.production.mapper.OrderMapper">


    <select id="selectOrderOkProductNum" resultType="java.lang.Long">
        SELECT done_num FROM production_plan p JOIN production_order o ON
            p.order_id=o.id WHERE p.order_id=#{orderId}
    </select>

    <select id="selectPlanByOrderId" resultType="com.github.ganlong.model.order.Order">
        SELECT month_planned_num,
               day_planned_num,done_num,
               day_scrap_numexpected_month_planned_num
        FROM production_plan p JOIN production_order o ON
            p.order_id=o.id WHERE p.order_id=#{orderId}
    </select>


</mapper>
